
*{
  
  color: rgb(199, 14, 14);
}
a{
    text-decoration: none;
    color:black;
}

.container {
    display:flex;
    justify-content: space-between;
  }
#nav a{
    position:relative;
    margin-right: 1px;
}

.main{
    width:100px;
    height:auto;
    background-color: red;
    color:black;
}
@media only screen and(max-width:770px)
{

.card{
    width:min-content;
}
.main{
    background-color: white;
}

}